nav { 
	background-color: #333;
	/*padding: 14px 20px; 	*/
	overflow: hidden; /*ép kích cỡ của các thẻ trong menu bằng với thanh menu*/
}

img.image2_center {display: block; margin-left: auto; margin-right: auto;}

nav a.menu_left { /*.menu_left là để gọi class đã tạo ở file html, những class menu_left đẩy sang trái, class right cho sang phải*/
	float: left;
}
nav a {
	color: white; 
	padding: 14px 20px; /*mở rộng các thẻ trong menu*/
	text-align: center; /*chuyển vào giữa*/
	text-decoration: none; /*bỏ đi gạch chân và đổi màu chữ ban đầu*/
	/*float: left;*/ /*cho các thẻ a sang hết bên trái, chuyển thành hàng ngang*/
}

/*class dùng cho 1 tập, id dùng riêng lẻ*/


/*thanh menu là 1 thanh to bao trùm các thanh a nhỏ bên trong*/

nav a:hover { /*hover là hành động để chuột trên nút thì đổi màu*/
	background-color: #DDD;
	color: black; /*khi đó đồng thời đổi màu chữ để dễ nhìn*/
}

#left_side {
	flex: 20%;
	background-color: #f1f1f1; /*đổi màu phần bên trái website*/
	padding: 10px 20px; /*dùng padding để co phần nội dung bên trái vào trong phần màu ghi*/
}

#right_side {
	flex: 80%;
	padding: 10px 20px; /*cách phần nội dung bên phải ra khỏi viền*/
}

#flex_container {
	display: flex;
}